div.page_wrapper {
    width: 100%;
    display: flex
  ;
    gap: 0.6%;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-left: 2%; /* Add space to the left as a percentage */
    padding-right: 2%; /* Add space to the right as a percentage */
    margin: 0 auto; /* Center the content */
  }
  